<!-- <nav> -->
<!--   <div id="subnav"> -->
<!--     <a href="/search">&#8981;</a> -->
<!--   </div> -->
<!---->
<!--   {% block nav %} -->
<!--   <ul id="breadcrumbs"> -->
<!--     {% for tax in config.taxonomies %} -->
<!--     <li>/<a href="/{{tax.name}}/">{{tax.name}}</a>&nbsp;</li> -->
<!--     {% endfor %} -->
<!--   </ul> -->
<!--   <h1>{{ config.title }}</h1> -->
<!--   {% endblock nav %} -->
<!-- </nav> -->
<!---->
<!-- <main> -->
<!--   <section class="section"> -->
<!--     <div class="container"> -->
<!--       {% block content %} -->
<!---->
<!--       {% endblock %} -->
<!--     </div> -->
<!--   </section> -->
<!-- </main> -->
