{% extends "base.html" %}

{% block content %}
{% if page.date %}
<p class="post-date"><time datetime="{{ page.date | date(format="%Y-%m-%d") }}">{{ page.date | date(format="%b %-d, %Y") }}</time></p>
{% endif %}
<h1 class="title">{{ page.title }}</h1>
<div class="post-body">
{{ page.content | safe }}
</div>

<div id="taxonomies">
  <ul id="drink_types">
  {% for type in page.taxonomies.drink_types %}
    <li><a href="{{ get_taxonomy_url(kind="drink_types", name=type) | safe }}">{{ type }}</a></li>
  {% endfor %}
  </ul>
  <ul id="tags">
  {% for tag in page.taxonomies.tags %}
    <li><a href="{{ get_taxonomy_url(kind="tags", name=tag) | safe }}">{{ tag }}</a></li>
  {% endfor %}
  </ul>
</div>

{% endblock content %}
