{% component post_in_list(post) %}
<li>
  <a href="{{ post.permalink | safe }}">{{ post.title }}</a>
  <time datetime="{{ post.date | date(format="%Y-%m-%d") }}">{{ post.date | date(format="%Y/%m/%d") }}</time>
</li>
{% endcomponent %}

{% component batch_summary(term) %}
{% set newest = term.pages | first %}
{% set oldest = term.pages | last %}
{% set first_month = oldest.date | date(format="%Y-%m") %}
{% set last_month = newest.date | date(format="%Y-%m") %}
<li class="batch">
  <h3 class="batch-name"><a href="{{ term.permalink | safe }}">{{ term.name | title }}</a></h3>
  <dl class="batch-facts">
    <dt>Type</dt><dd>{{ newest.taxonomies.drink_types | first }}</dd>
    <dt>Posts</dt><dd>{{ term.pages | length }}</dd>
    <dt>Started</dt><dd>{{ first_month }}</dd>
    {% if last_month != first_month %}<dt>Last post</dt><dd>{{ last_month }}</dd>{% endif %}
  </dl>
  <p class="batch-start"><a href="{{ oldest.permalink | safe }}">Start at the beginning</a></p>
</li>
{% endcomponent %}

{% component term_title(taxonomy, term) %}
{%- if taxonomy.name == "tags" and "#" in term.name -%}{{ term.name | title }}
{%- elif taxonomy.name == "tags" -%}Tagged: {{ term.name }}
{%- elif taxonomy.name == "drink_types" -%}Drink type: {{ term.name }}
{%- elif taxonomy.name == "post_types" -%}Post type: {{ term.name }}
{%- else -%}{{ term.name }}{%- endif -%}
{% endcomponent %}
